body {
  font-family: Arial, sans-serif;
  background: black;
  color: white; /* Dodane dla lepszej widoczności tekstu */
}

.animation-box {
  width: 90%;
  height: auto;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  padding: 1rem; /* Dodane dla wewnętrznego marginesu */
}

.animation-container {
  width: 100%;
  height: auto;
}

/* Tekst pierwszego poziomu */
.first-text {
  font-size: 4vw;
  position: absolute;
  left: 2.5rem;
  top: 5rem;
  opacity: 0;
  animation-name: topFadeOut;
  animation-duration: 8s;
  color: white;
}

/* Tekst drugiego poziomu */
.second-text {
  font-size: 3.4vw;
  position: absolute;
  top: 8.5rem;
  opacity: 0;
  animation-name: rightFadeInOut;
  animation-delay: 7s;
  animation-duration: 8s;
  color: #ccc;
}

/* Tekst trzeciego poziomu */
.third-text {
  transform: rotate(-90deg);
  font-size: 2vw;
  position: absolute;
  left: 45%;
  top: 45%;
  opacity: 0;
  animation-name: topFadeOutVertical;
  animation-delay: 14s;
  animation-duration: 3s;
  color: #a3ddf0;
  white-space: nowrap;
}

/* Tekst czwartego poziomu */
.fourth-text {
  font-size: 3.4vw;
  position: absolute;
  top: 10.5rem;
  left: 10%;
  opacity: 0;
  color: #f0a3be;
  animation-name: fadeInOut;
  animation-delay: 17s;
  animation-duration: 9s;
}

/* Tekst piątego poziomu */
.fifth-text {
  font-size: 5vw;
  position: absolute;
  left: 5%;
  bottom: 25%;
  opacity: 0;
  color: #f0eba3;
  animation-name: bottomFadeOut;
  animation-delay: 26s;
  animation-duration: 9s;
}

@keyframes topFadeOut {
  0% {
      top: -3rem;
      opacity: 0;
  }
  75% {
      top: 25%;
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes bottomFadeOut {
  0% {
      bottom: -5rem;
      opacity: 0;
  }
  75% {
      bottom: 25%;
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes topFadeOutVertical {
  0% {
      top: -3rem;
      opacity: 0;
  }
  75% {
      top: 45%;
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@keyframes rightFadeInOut {
  0% {
      right: -3rem;
      opacity: 0;
  }
  75% {
      right: 10rem;
      opacity: 1;
  }
  100% {
      opacity: 0;
      right: 10rem;
  }
}

@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  45% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
  .first-text, .second-text, .third-text, .fourth-text, .fifth-text {
      font-size: 6vw;
  }

  .third-text {
      font-size: 4vw;
  }
}
